###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Ignore IDE's files and folders
RolOffice v4.0.code-workspace
.vscode/
.idea/

# Ignore LOCAL enviroments files an folders
/config/dbConfig.local.php

# Ignore DEV enviroments files an folders
/config/dbConfig.dev.php

# Ignore LIVE enviroments files an folders
/config/dbConfig.live.php
public/upload/

# Ignore enviroments files
/todos/

# Ignore .sql files
*.sql
!config/*.sql

# Ignore LOCAL enviroments files
/.docksal
_working
