# Ignore IDE's files and folders
RolOffice v4.0.code-workspace
.vscode/
.idea/

# Ignore LIVE enviroments files an folders
/app/config/dbConfig.php
/config/dbConfig.live.php
/config/database/
web/projects/upload/

# Ignore DEV enviroments files an folders
/config/dbConfig.dev.php
web/testing/

# Ignore LOCAL enviroments files an folders
/config/dbConfig.local.php

# Ignore enviroments files
/todos/
/config/bootstrap.php
/vendor/

# Ignore .sql files
*.sql

# Ignore LOCAL enviroments files
/.docksal
_working
