<!-- View Employee Data -->
<div class="card mb-4">
    <div class="card-header p-2">
        <h6 class="m-0 text-dark">
            Izmena podataka o zaposlenom:
        </h6>
    </div>
    <div class="card-body px-2">
        <form action="/admin/employee/{{ employee.id }}/update " method="post">
            <div class="row mb-2">
                <label for="inputName"
                       class="col-sm-3 col-lg-2 col-form-label text-right">
                    Naziv:
                </label>
                <div class="col-sm-6">
                    <input class="form-control form-control-sm"
                           id="inputName"
                           type="text"
                           name="name"
                           value="{{ employee.getName() }}" />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-3 offset-sm-2">
                    <button type="submit" class="btn btn-sm btn-success" title="Snimi izmene podataka o zaposlenom!">
                        <i class="fas fa-save"></i> Snimi
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
