{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {{ parent() }}
    {% include 'admin/tools_menu.html.twig' %}
    <div class="col-sm-12 col-md-11 col-lg-9 col-xl-7 px-2">
        {% include 'admin/form/employee_edit.html.twig' %}
    </div>
{% endblock %}
