{% set input_name = 'term' %}
{% if page == 'admin/employees' or page == 'admin/employee' %}
    {% set action = 'admin/employees/search' %}
{% elseif page == 'articles' or page == 'article' %}
    {% set action = 'articles/search' %}
{% elseif page == 'clients' or page == 'client' %}
    {% set action = 'clients/' %}
    {% set input_name = 'search' %}
{% elseif page == 'cuttings' or page == 'cutting' %}
    {% set action = 'cuttings/search' %}
{% elseif page == 'materials' or page == 'material' %}
    {% set action = 'materials/search' %}
{% elseif page == 'orders' or page == 'order' %}
    {% set action = 'orders/search' %}
{% elseif page == 'documents' or page == 'document' %}
    {% set action = 'documents/search' %}
{% elseif page == 'projects' or page == 'project' %}
    {% set action = 'projects/search' %}
{% else %}
    {% set action = '/' %}
{% endif %}

<form action="/{{ action }}"  method="get" class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control bg-light border-0" name="{{ input_name }}" placeholder="Pretraga ..."
               aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-sm fa-search"></i>
            </button>
        </div>
    </div>
</form>
