<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tasks"></i>
        </div>
        <div class="sidebar-brand-text mx-3">d-Office 2025</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Klijenti Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#klijenti" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user"></i>
            <span>Klijenti</span>
        </a>
        <div id="klijenti" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/clients/">Klijenti</a>
                <a class="collapse-item" href="/clients/new"><i class="fas fa-plus"></i> Novi klijent</a>
                <a class="collapse-item" href="/clients/advanced-search">
                    <i class="fas fa-search"></i> Detaljna pretraga
                </a>
                <hr class="sidebar-divider">
                <a class="collapse-item" href="/countries/new"><i class="fas fa-plus"></i> Dodaj državu</a>
                <a class="collapse-item" href="/cities/new"><i class="fas fa-plus"></i> Dodaj naselje</a>
                <a class="collapse-item" href="/streets/new"><i class="fas fa-plus"></i> Dodaj ulicu</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Knjigovodstvo Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#knjigovodstvo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-list"></i>
            <span>Knjigovodstvo</span>
        </a>
        <div id="knjigovodstvo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/documents/">Knjigovodstvo</a>
                <a class="collapse-item" href="/documents/transactions">Transakcije</a>
                <a class="collapse-item" href="/documents/cash-register">Kasa</a>
                <a class="collapse-item" href="/documents/new"><i class="fas fa-plus"></i> Novi dokument</a>
                <a class="collapse-item" href="/documents/preferences"><i class="fas fa-cog"></i> Podešavanja</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Krojne liste Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#krojne-liste" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cut"></i>
            <span>Krojne liste</span>
        </a>
        <div id="krojne-liste" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/cuttings/">Krojne liste</a>
                <a class="collapse-item" href="/cuttings/new"><i class="fas fa-plus"></i> Nova krojna lista</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Materijal Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#materijal" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-inbox"></i>
            <span>Materijal</span>
        </a>
        <div id="materijal" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/materials/">Materijal</a>
                <a class="collapse-item" href="/materials/new"><i class="fas fa-plus"></i> Novi materijal</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Nabavka Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#nabavka" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-th"></i>
            <span>Nabavka</span>
        </a>
        <div id="nabavka" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/orders/">Nabavka</a>
                <a class="collapse-item" href="/orders/new"><i class="fas fa-plus"></i> Nova porudžbenica</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Proizvodi Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#proizvodi" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-tag"></i>
            <span>Proizvodi</span>
        </a>
        <div id="proizvodi" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/articles/">Proizvodi</a>
                <a class="collapse-item" href="/articles/new"><i class="fas fa-plus"></i> Novi proizvod</a>
                {% if user_role_id == 1 %}
                    <a class="collapse-item" href="/articles/groups">Grupe proizvoda</a>
                    <a class="collapse-item" href="/articles/groups/new">
                        <i class="fas fa-plus"></i> Nova grupa proizvoda
                    </a>
                {%  endif %}
            </div>
        </div>
    </li>

    {% if user_role_id == 1 or user_role_id == 2 %}
    <!-- Nav Item - Admin Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Admin</span>
        </a>
        <div id="admin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/">Admin</a>
                <a class="collapse-item" href="/admin/base-backup"><i class="fas fa-download"></i> Bekap baze</a>
                <a class="collapse-item" href="/admin/company-info"><i class="fas fa-info"></i> Company info</a>
                <hr class="sidebar-divider">
                <a class="collapse-item" href="/admin/employees"><i class="fas fa-user"></i> Zaposleni</a>
            </div>
        </div>
    </li>
    {%  endif %}

    <!-- Nav Item - Projects Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#projekti" aria-expanded="true" aria-controls="collapseTwo">
            <!-- <i class="fas fa-fw fa-folder"></i> -->
            <i class="fas fa-fw fa-project-diagram"></i>
            <span>Projekti</span>
        </a>
        <div id="projekti" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/projects/">Projekti</a>
                <a class="collapse-item" href="/projects/new"><i class="fas fa-plus"></i> Novi Projekat</a>
                <a class="collapse-item" href="/projects/advancedSearch"><i class="fa fa-search"></i> Detajna pretraga</a>
                {% if user_role_id == 1 %}
                    <a class="collapse-item" href="/projects/tasks"><i class="fa fa-tasks"></i>
                        Projektni zadaci</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
