<div class="col-lg-12 col-xl-10 px-2" id="topMeni">
    <div class="card mb-2">
        <div class="card-body py-1 px-2">
            <a href="/cuttings/new" class="btn btn-sm btn-outline-secondary" title="Otvaranje nove krojne liste!">
                <i class="fas fa-plus"> <i class="fas fa-cut"></i> </i>
            </a>

            {% if tools_menu.cutting %}
                {% if tools_menu.view %}
                    <a href="/cuttings/{{ cutting_id }}/edit">
                        <button type="button" class="btn btn-sm btn-outline-secondary mx-1" title="Idi na stranicu za izmenu krojne liste!">
                            <i class="fas fa-edit"> </i> Izmena
                        </button>
                    </a>
                {% endif %}
                {% if tools_menu.edit %}
                    <a href="/cuttings/{{ cutting_id }}">
                        <button type="button" class="btn btn-sm btn-outline-secondary mx-1" title="Idi na stranicu za pregled krojne liste!">
                            <i class="fas fa-eye"> </i> Pregled
                        </button>
                    </a>
                {% endif %}

                <!-- Button trigger modal for addFence -->
                <a href="#">
                    <button type="button" class="btn btn-sm btn-outline-secondary mr-1" data-toggle="modal" data-target="#addFence" title="Dodaj novo polje!">
                        <i class="fas fa-plus"> </i> Novo polje
                    </button>
                </a>

                <!-- Button trigger modal for print -->
                <a href="/cuttings/{{ cutting_id }}/print" title="PDF [new window]" target="_blank">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        <i class="fas fa-print"></i>
                    </button>
                </a>
            {% endif %}

        </div><!-- End of Card Body -->
    </div><!-- End of Card -->
</div>
