{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
    {% include 'client/tools_menu.html.twig' %}
    <div class="col-sm-12 col-md-11 col-lg-9 col-xl-7 px-2">
        <div class="card mb-4 shadow-sm">
            <div class="card-header p-2">Izmena podataka o naselju:</div>
            <div class="card-body">
                {% include 'client/form/city.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
