{% extends 'base.html.twig' %}

{% block title %}Country Details{% endblock %}

{% block body %}
    {% include 'client/tools_menu.html.twig' %}
    <div class="col-sm-12 col-md-11 col-lg-9 col-xl-6 px-2">
        {% include 'client/table/country_view.html.twig' %}
    </div>
{% endblock %}
