<div class="card shadow-sm">
    <div class="card-header">
        Ulica info
    </div>
    <div class="card-body pt-2">
        <table class="table table-borderless mb-0">
            <tbody>
                <tr class="border-bottom">
                    <td class="p-2 w-25">ID</td>
                    <td class="p-2">{{ street.id }}</td>
                </tr>
                <tr class="border-bottom">
                    <td class="p-2">Naziv</td>
                    <td class="p-2">{{ street.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a href="/streets/new" class="btn btn-outline-secondary" title="Povratak na listu ulica">
                <i class="fas fa-arrow-left"></i> Lista ulica</a>
            <a href="/streets/{{ street.id }}/edit" class="btn btn-primary" title="Izmeni podatke o ulici">
                <i class="fas fa-edit"></i> Izmeni ulicu
            </a>
        </div>
    </div>
</div>
