{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {% include 'pidb/tools_menu.html.twig' %}
    <div class="col-lg-12 px-2">
        {% include 'pidb/form_view.html.twig' %}
    </div>
{% include 'pidb/modals.html.twig' %}
{% endblock %}
