{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {% include 'project/tools_menu.html.twig' %}
    <div class="col-lg-12 px-2">
        {% include 'project/form/task_edit.html.twig' %}
    </div>
    {% include 'project/modal_task_note.html.twig' %}
{% endblock %}
